  <!--navbar-->
  <div class="nav-bar" >


    <for count="2"
         data-imglink="images/personal-library-page/people.png, images/personal-library-page/drive.png"
         data-imglinkactive="images/personal-library-page/people-active.png, images/personal-library-page/drive-active.png"
         data-name="People, Drive"
    >

      <a href="#">
        <p class="icon">
          <img src="{{imglink}}" class="disabled" alt="">
          <img src="{{imglinkactive}}" class="active-image" alt="">
        </p>
        <p class="name">
          {{name}}
        </p>
      </a>

    </for>

    <a href="#" class="active">
      <p class="icon">
        <img src="images/personal-library-page/live.png" class="disabled" alt="">
        <img src="images/personal-library-page/live-active.png" class="active-image" alt="">
      </p>
      <p class="name">
        Live
      </p>
    </a>

    <div class="user-block">
      <div class="use-avatar border-bottom">
        <div class="avatar">
          <i class="fal fa-user"></i>
        </div>
      </div>

      <div class="use-avatar">
        <div class="avatar" style="background-image: url(images/personal-library-page/user-avatar.png)"></div>
      </div>
    </div>
  </div>
  <!--navbar-->
