  <!--navbar-->
  <div class="nav-bar" >
    <a href="#">
      <p class="icon">
        <img src="images/personal-library-page/people.png" class="disabled" alt="">
        <img src="images/personal-library-page/people-active.png" class="active-image" alt="">
      </p>
      <p class="name">
        People
      </p>
    </a>

    <a href="#" >
      <p class="icon">
        <img src="images/personal-library-page/drive.png" class="disabled" alt="">
        <img src="images/personal-library-page/drive-active.png" class="active-image" alt="">
      </p>
      <p class="name">
        Drive
      </p>
    </a>

    <a href="#" class="active">
      <p class="icon">
        <img src="images/personal-library-page/live.png" class="disabled" alt="">
        <img src="images/personal-library-page/live-active.png" class="active-image" alt="">
      </p>
      <p class="name">
        Live
      </p>
    </a>

    <div class="user-block">
      <div class="use-avatar border-bottom">
        <div class="avatar">
          <i class="fal fa-user"></i>
        </div>
      </div>

      <div class="use-avatar">
        <div class="avatar" style="background-image: url(images/personal-library-page/user-avatar.png)">
          <!--                    <i class="fal fa-user"></i>-->
        </div>
      </div>
    </div>
  </div>
  <!--navbar-->
