
<div class="main flex-column">
  <div class="container main-body">
    <div class="row">
      <div class="col-xl-4 col-lg-12">
        <component src="components/content/header-message-1.html"></component>
      </div>
      <div class="col-xl-4 col-lg-4">
        <component src="components/content/header-message-2.html"></component>
      </div>
      <div class="col-xl-4 col-lg-8">
        <component src="components/content/header-message-3.html"></component>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-4">
        <component src="components/content/members.html"></component>
      </div>
      <div class="col-lg-8">
        <component src="components/content/recent-calls.html"></component>
      </div>
    </div>

  </div>


</div>
