<div class="call row">
  <div class="col-3 d-flex justify-content-start align-items-center p-0">
    <div class="icon">
      <img src="images/dashboard/call-blue.svg" alt="">
    </div>
    <div class="call-title">
      Inbound
    </div>
  </div>
  <div class="col-4 d-flex justify-content-start align-items-center">
    <div class="avatar" style="background-image: url(images/dashboard/avatar9.png)"></div>
    <div class="avatar-name">Annette Black</div>
  </div>
  <div class="col-5 d-flex align-items-center justify-content-between">
    <div class="data-call">Sep 3, 2020 6:57 AM</div>
    <div class="dropdown menu">
      <button class="btn btn-outline-light dropdown-toggle" type="button" id="drop-ma110" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="far fa-ellipsis-h"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="drop-ma110">
        <li><a class="dropdown-item" href="#">Call</a></li>
        <li><a class="dropdown-item" href="#">Zoom Call</a></li>
        <li><a class="dropdown-item" href="#">Start a Group Call</a></li>
        <li><a class="dropdown-item" href="#">Record + Send</a></li>
        <li><a class="dropdown-item" href="#">Chat</a></li>
        <li><a class="dropdown-item" href="#">Download Recording</a></li>
        <li><a class="dropdown-item" href="#">Archive</a></li>
      </ul>
    </div>

  </div>
</div>