<div class="row call border-bottom pb-2 pt-2">
  <div class="col-5 d-flex justify-content-start align-items-center p-0">
    <div class="icon">
      <img src="images/dashboard/video-icon.png" alt="">
    </div>
    <div class="call-title">
      Analysing Potential Problems
    </div>
  </div>
  <div class="col-7 p-0 description-video">
    <div class="date">
      09 April 2021
    </div>
    <div class="video-size">
      15MB
    </div>
    <div class="dropdown menu">
      <button class="btn btn-outline-light dropdown-toggle" type="button"
              id="drop-video1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="far fa-ellipsis-h"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="drop-video1">
        <li><a class="dropdown-item" href="#">Copy Link</a></li>
        <li><a class="dropdown-item" href="#">Share</a></li>
        <li><a class="dropdown-item" href="#">Rename</a></li>
        <li><a class="dropdown-item" href="#">Duplicate</a></li>
        <li><a class="dropdown-item" href="#">Download</a></li>
        <li><a class="dropdown-item" href="#">Delete</a></li>
      </ul>
    </div>
  </div>
</div>