<div class="user">
  <div class="avatar" style="background-image: url(images/dashboard/avatar1.png)"></div>
  <div class="user-body">
    <div class="user-name">Kathryn Murphy</div>
    <div class="online---">
      <div style="background: #43C876;"></div>
      Online
    </div>

  </div>
  <div class="dropdown menu">
    <button class="btn btn-outline-light dropdown-toggle" type="button" id="drop-call-block1" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="far fa-ellipsis-h"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="drop-call-block1">
      <li><a class="dropdown-item" href="#">Call</a></li>
      <li><a class="dropdown-item" href="#">Zoom Call</a></li>
      <li><a class="dropdown-item" href="#">Start a Group Call</a></li>
      <li><a class="dropdown-item" href="#">Record + Send</a></li>
      <li><a class="dropdown-item" href="#">Chat</a></li>
      <li><a class="dropdown-item" href="#">Chat History</a></li>
    </ul>
  </div>
</div>