<div class="recent-calls">
  <div class="row">
    <p class="title">Recent Calls</p>
  </div>
  <div class="row p-0 h-100">
    <div class="all-call-block">

      <for count="5">
        <component src="components/features/missed-call.html"></component>
      </for>

      <for count="5">
        <component src="components/features/missed-call-outbond.html"></component>
      </for>


      <for count="5">
        <component src="components/features/missed-call-inbound.html"></component>
      </for>

    </div>
  </div>
</div>